* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p {
    text-align: center;
    margin: 10px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 23px;
}

a{
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fas{
    font-size: 30px;
    margin: 0 3px;
}

.fab{
    font-size: 50px;
    margin: 0 5px;
}

.fas, .fab {
    color: wheat;
    cursor: pointer;
}

.fas:hover, .fab:hover {
    color: rgb(211, 149, 33);
}

.bold-span {
    font-weight: bold;
}

.wheat-span {
    color: wheat;
}

/*HEADER Y SUS ELEMENTOS*/

#header {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 70px;
    background: rgba(0, 0, 0, 0.9);
    color: wheat;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#logo-div, #shopping-cart-div, .main-navbar, header {
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 10px;
}

.logo-olympus {
    height: 80%;
    margin: 0 10px;
}

.main-navbar {
    width: 50%;
    justify-content: space-between;
}

.nav-link {
    color: wheat;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    border-radius: 3px;
    background: wheat;
    transition: width 200ms ease-in-out;
}

.nav-link.main-navbar--current::after {
    width: 100%;
    background: brown;
}

.nav-link:hover::after {
    width: 100%;
}

#shopping-cart-logo {
    height: 50%;
    margin: 0 3px;
}

.bars-icon-span {
    display: none;
    margin: 0 15px;
}

/*MAIN Y SUS ELEMENTOS*/

.full-width {
    width: 100%;
}

section {
    margin-bottom: 3px;
    padding: 90px 0;
}

.home-section {
    justify-content: left;
    background-image: url("img/bg7.png");
    background-position: center center;
    background-size: cover;
    margin-top: 70px;
    padding-left: 10%;
}

.home-description-div {
    width: 45%;
    background-color: rgb(161, 160, 160, 0.3);
    padding: 35px;
    border-radius: 15px;
}

.home-section-logo {
    justify-content: center;
    margin: 10px auto;
}

.promo-section {
    justify-content: center;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;

}

.promo-div {
    justify-content: center;
    margin: 20px 0;
}

.promo-figure {
    width: 275px;
    height: 400px;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 15px;
    background-color: rgb(190, 188, 188);
    cursor: pointer;
}

.promotion-figure:hover {
    background-color: rgb(129, 125, 125);
    transition: 100ms ease-in-out;
}

.promo-description p{
    text-align: justify;
}

.promo-image {
    width: 200px;
    height: auto;
    border-radius: 100px;
}

.products-section {
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-position: center center;
}

.catalog-div {
    justify-content: center;
    margin: 10px 10%;
    height: 150px;
    border: solid 2px #333333;
    border-radius: 15px;
    background-image: url("img/marco2.jpg");
    background-size: cover;
    background-position: center center;
    color: wheat;
    cursor: pointer;
}

.catalog-div:hover {
    border: solid 2px wheat;
}

.contact-element {
    justify-content: center;
    width: 40%;
    margin: 20px auto 0;
    padding: 10px;
}

.comments-description {
    padding: 20px 0;
    background-color: rgb(189, 63, 63, 0.4);
    border-radius: 15px;
}

.comments-description-element {
    width: 50%;
    padding: 10px;
}

.comments-form {
    justify-content: center;
    width: 70%;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: #333333;
    border-radius: 15px;
}

.comments-form-field {
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    width: 90%;
}

.comments-button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: solid 2px wheat;
    border-radius: 10px;
    background-color: rgba(243, 146, 49, 0.596);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.comments-button:hover {
    border: solid 2px gray;
}

footer {
    height: 190px;
    background-color: rgb(80, 31, 31);
}

.footer-element {
    justify-content: center;
    margin: 10px auto;
}

.logo-olympus {
    justify-content: center;
    width: 100px;
}

@media (max-width: 1050px) {
    .bars-icon-span {
        display: block;
    }
    .main-navbar {
        height: min-content;
        width: 100%;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: 0;
        background-color: #333333;
    }
    .nav-link {
        margin: 20px;
    }
    .home-section{
        justify-content: center;
        padding: 50px 10% 20px;
    }
    .home-description-div{
        width: 100%;
    }
    .contact-element{
        width: 90%;
    }
    .comments-description-element {
        width: 90%;
    }
}

@media(max-width: 500px){
    .home-section{
        padding: 50px 3% 20px;
    }
}

.display-bar {
    display: inline-flex;
}